@import url('https://fonts.googleapis.com/css2?family=Poppins,wght@0,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

html {
    font-size: small;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    border-bottom: 1 px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 2rem;
    font-size: 1.8 rem;
    color: var(--text-color);
    font-weight: 600;
    border-bottom: 3px #000000;
}

.navbar a:visited {
    color: #000000;
}

.navbar a:active {
    color: orangered;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home h1 {
    display: block;
    margin: 0 auto;
    font-size: 3rem;
    margin-bottom: 10%;
    font-weight: 700;
}

.home img {
    display: block;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: none;
}

.buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #E7E7E7;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: orangered;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about .heading {
    font-size: 5rem;
}

.about-content p {
    width: 50%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 25rem;
    height: 25rem;
}

.education {
    margin-top: 50px;
}

.education table {
    justify-content: center;
    border-spacing: 20px;
}

.education td:first-child {
    width: 300px;
}

.education td:last-child {
    width: 400px;
}

.exp-box {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}

.experiences h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
}

.exp table {
    border-spacing: 20px;
    width: 100%;
}

.projects table {
    border-spacing: 20px;
    width: 100%;
}

.exp td:first-child,
.projects td:first-child {
    padding-right: 50px;
}

.exp,
.projects {
    border: 2px solid #E7E7E7;
    border-radius: 20px;
    padding: 30px;
    width: 45%;
}

.profile {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    object-fit: cover;

    margin-bottom: 20px;
}

.contacts .heading {
    font-size: 5rem;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: none;
}

.contacts h3 {
    text-align: center;
    margin-top: 100px;
}

.social-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #e7e7e7;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.social-buttons button:hover {
    background-color: #efa365;
}


.contacts form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    align-items: stretch;
}

.contacts form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts form .input-box input,
.contacts form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0.5rem 0;
    resize: none;
}

.contacts form .button {
    width: auto;
    margin-top: 2rem;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}